.nav-f{
    font-family: 'Bangers', system-ui;
    
}

.bg-clr{
    background-color: red;
}

.txt-clr{
    color:red !important; 
    background-color: whitesmoke;
}

.txt-clr:hover{
    background-color: rgb(228, 228, 228);
    color: red;
}

.txt-clr-1{
    color: red !important;
}

.bg-clr-1{
    background-color:rgb(190, 0, 0);
}

.card-1p{
    size: 20rem;
}

.ftr{
    background-color: rgb(255, 255, 255);
}

.ftr-links{
    color: red;
    text-decoration: none;
}

